@{
    ViewData["Title"] = "Fit for Life";
}
<div class="row">
    <h1 class="col-sm-12">A useful calculator!</h1>
    <div class="col-sm-6">
        <p>
            The Future Value Calculator application allows you to calculate a value based on the
            input of a monthly investment, interest rate, and number of years.
        </p>
        <p>You can plan ahead and avoid financial troubles by using this application!</p>
        <p>Plan ahead, stay ahead!</p>
        <p>
            I hope you enjoy using the application.
        </p>
    </div>
    <div class="col-sm-6">
        <img src="~/Images/about.jpg" alt="calculator" style="border-radius:20px;width:100%;" class="img-fluid" rounded-circle />
    </div>
</div>

