@{
    ViewData["Title"] = "Fit for Life";
}
<h2>A useful calculator!</h2>

<p>
    The Future Value Calculator application allows you to calculate a value based on the 
    input of a monthly investment, interest rate, and number of years. 
</p>
<p>You can plan ahead and avoid financial troubles by using this application!</p>
<p>Plan ahead, stay ahead!</p>
<p>
    I hope you enjoy using the application. 
</p>
