@{
    ViewData["Title"] = "Fit for Life";
}
<h2>Future Value Calculator</h2>
<h3>The best financial application money can buy.</h3>

<address>
    600 Park Avenue<br />
    Traverse City, MI 49696<br />
    <abbr title="Phone">P:</abbr>
    231-555-5555
</address>

<address>
    <strong>Tech Support:</strong> <a href="mailto:nealsabin.contact@gmai.com">nealsabin.contact@gmai.com</a><br />
</address>
